* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form div {
    margin: 10px;
}

input:focus {
    outline-style: none;
}

input:valid {
    border: 2px solid green;
}

input:invalid {
    border: 2px dashed red;
}