* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

html,
body {
    height: 100%;
}

body {
    background-image: url("../P3_1/P1-img/levander.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* Center and scale the image nicely */
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.clock-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header{
    position: fixed;
    bottom: 60%;
    left: 40%;
    font-weight: bold;
    font-size: 30px;
}
.content {
    margin-left: 15px;
    margin-right: 15px;
}

.purple-box {
    height: 100px;
    width: 100px;
    background-color: #483F68;
    opacity: 0.6;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    align-items: center;

}

.blue-box {
    background: rgba(0, 0, 200, 0.5);
    height: 40px;
    width: 100px;
    font-weight: normal;
}

.am-pm {
    background-color: #2D8C2A;
    opacity: 0.6;
    height: 40px;
    width: 100px;
    text-align: center;
    font-size: large;
    font-weight: 500;
}